@font-face {
  font-family: "Paperlogy-Black";
  src: url("../fonts/Paperlogy-9Black.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/PretendardVariable.woff2") format("truetype"),
    url("../fonts/PretendardVariable.woff2") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy-Regular";
  src: url("../fonts/Paperlogy-4Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy-SemiBold";
  src: url("../fonts/Paperlogy-6SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ChosunCentennial";
  src: url("../fonts/ChosunCentennial_ttf.ttf") format("truetype");
  font-style: normal;
}
