@import url(common.css);
@import url(fonts.css);

/* 공통요소 */
body {
  background-color: #eae0d5;
}
.line {
  background: #272727;
  height: 1px;
  width: 100%;
}
a:link {
  color: #777;
}
a:visited {
  color: #777;
}

/* 콘텐츠 헤더 영역 시작 */
.article-header-container {
  background-color: #fff5ef;
  padding-top: 100px;
  background-position: center left;
  background-size: 70%;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;

  color: #3a3a3a;
  text-align: left;
}

.header-inner {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article-title {
  font-family: var(--KNOC-main-h2-font-family);
  font-size: var(--KNOC-main-h4-font-size);
  margin-bottom: 40px;
}

.article-subtitle {
  font-family: var(--KNOC-main-h5-font-family);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.article-writer {
  font-size: 1.25rem;
}
/* 콘텐츠 헤더 영역 끝 */

/* 콘텐츠 내용 시작 */
.article-body-container {
  height: 100%;
  padding-top: 9.88em;
  width: 1440px;
  margin: 0 auto;
}
/* 리드문 영역 시작 */
.body-lead-wrap {
  background-color: #746b63;
  width: 100%;
  min-height: 300px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 96px;
}
/* 리드문 영역 끝 */

/* 사이드바 영역 시작 */
.side-menu-container {
  width: 390px;
  min-width: 390px;
  position: 2000px;
}
.side-menu-item-wrap {
  position: sticky;
  top: 100px;
}
.side-menu-item {
  font-size: 1.25rem;
  margin-bottom: 32px;
  padding-bottom: 20px;
  color: #6d6d6d;
  border-bottom: 1px solid #6d6d6d;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.side-menu-item.active {
  font-weight: 700;
  border-bottom: 3px solid #3a3a3a;
}
.side-menu-item.active a {
  color: #3a3a3a;
}
/* 사이드바 영역 끝 */
/* 본문 영역 시작 */
.body-text-wrap {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: relative;
  height: 100%;
  justify-content: space-between;
}
.text-content-wrap {
  width: 960px;
  max-width: 960px;
}
.article-body-container p {
  font-size: var(--KNOC-article-text-font-size);
  line-height: 1.875;
}
/* 본문 영역 끝 */
/* 콘텐츠 내용 끝 */

/* 연관콘텐츠 영역 시작 */
/* 연관콘텐츠 카드 시작 */
.related-article-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 80px;
}
.relative-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.r-article-thumbnail {
  height: 150px;
  background-color: rgb(74, 109, 139);
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
}
.r-category,
.r-title {
  display: block;
}
.r-category {
  font-size: 1rem;
}
.r-title {
  font-size: 1.25rem;
  font-weight: 600;
}
/* 연관콘텐츠 카드 끝 */
/* 연관콘텐츠 영역 끝 */

.content-title h5 {
  font-size: 1.5rem;
  font-weight: 700;
}
.caption {
  font-size: 1.1rem;
  color: #777;
  padding-top: 20px;
  display: inline-block;
}

/* 콘텐츠용 기본 이미지 프레임 */
.content_image {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  /* box-shadow: 0px 10px 26px -3px rgba(0, 0, 0, 0.2); */
}

.content_image img {
  width: 100%;
}

/* 파티클 애니메이션 */
#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.side-menu-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--KNOC-main-h2-font-family);
  padding-bottom: 20px;
  color: #383838;
  border-bottom: 5px solid #383838;
  margin-bottom: 20px;
}

.card-title-wrap {
  text-align: center;
  margin-bottom: 40px;
}
.cards-title {
  font-size: 2rem;
  font-family: var(--KNOC-main-h2-font-family);
  font-weight: 700;
}
.title-img img {
  width: 30%;
}

.relative-card:nth-child(2) .r-article-thumbnail {
  background-image: url(https://www.knoc.co.kr/upload/EBOOK/sabo/204/images/visual/s1_1_visual.jpg);
}
.relative-card:nth-child(3) .r-article-thumbnail {
  background-image: url(https://www.knoc.co.kr/upload/EBOOK/sabo/204/images/main/cont2-wrap3-2.png);
}
.relative-card:nth-child(4) .r-article-thumbnail {
  background-image: url(https://www.knoc.co.kr/upload/EBOOK/sabo/204/images/main/cont2-wrap3-6.png);
}
